---
import Layout from '../layouts/Layout.astro';
import Task from '../components/Task.astro';
---

<Layout title="To-Do List by Toto Pedemonte">
	<main class="p-8 w-2/4 max-w-xl bg-white rounded-lg text-gray-900">

		<h1 class="inline font-bold text-center text-3xl">To-Do List</h1> 
		<span>by 
			<span class="text-gradient">Toto</span>
		</span>

		<div class="my-5 w-full h-fit flex justify-between items-center bg-gray-300 rounded-full">
			<input type="text" name="newTask" class=" w-full h-full text-1xl bg-transparent pl-4 outline-0">
			<button class="right-0 bg-orange-500 text-white px-6 py-2 rounded-full hover:brightness-105 active:brightness-110">
				Add
			</button>
		</div>

		<ul class="list-none -mt-5 overflow-scroll max-h-64">
			<Task />

			<li class="mt-10 flex justify-between items-center">
				<a href="#" class="flex items-center gap-3 text-gray-600">
					<img src="../../images/checked.png" alt="Check" class="hidden w-7">
					<img src="../../images/unchecked.png" alt="Check" class="w-7">
					<span>Task 1 Test</span>
				</a>
				<a href="#">
					<img src="../../images/x.png" alt="x" class="w-5">
				</a>
			</li>
			<li class="mt-10 flex justify-between items-center">
				<a href="#" class="flex items-center gap-3 text-gray-600">
					<img src="../../images/checked.png" alt="Check" class="hidden w-7">
					<img src="../../images/unchecked.png" alt="Check" class="w-7">
					<span>Task 2 Test</span>
				</a>
				<a href="#">
					<img src="../../images/x.png" alt="x" class="w-5">
				</a>
			</li>
		</ul>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
