---
---

<li class="mt-10 flex items-center justify-between">
    <a href="#" class="text-gray-600 w-1/4">
        <img src="../../images/checked.png" alt="Check" class="w-0 h-0">
        <img src="../../images/unchecked.png" alt="Check" class="w-7">
    </a>
    <div class="overflow-scroll">
        <span class="text-nowrap">Task 3 Test</span>
    </div>
    <a href="#" class="bg-white rounded-full w-1/6">
        <img src="../../images/x.png" alt="x" class="w-5 h-5 ">
    </a>
</li>
<style>
    .overflow-scroll::-webkit-scrollbar {
        display: none;
    }
</style>